USE [master]
GO
/****** Object:  Database [RestaurantDB]    Script Date: 3/3/2017 5:39:59 PM ******/
CREATE DATABASE [RestaurantDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RestaurentDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\RestaurentDB.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'RestaurentDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\RestaurentDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RestaurantDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RestaurantDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 3/3/2017 5:39:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 3/3/2017 5:39:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 3/3/2017 5:39:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 3/3/2017 5:39:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 3/3/2017 5:39:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 3/3/2017 5:39:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[UserFullName] [nvarchar](256) NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblAction]    Script Date: 3/3/2017 5:39:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblAction](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[url] [nvarchar](50) NULL,
	[display_name] [nvarchar](50) NULL,
	[ui_module_id] [int] NULL,
	[is_view] [int] NULL,
	[is_in_menu] [int] NULL,
 CONSTRAINT [PK_tblAction] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblModule]    Script Date: 3/3/2017 5:39:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblModule](
	[module_id] [int] IDENTITY(1,1) NOT NULL,
	[module_name] [varchar](150) NOT NULL,
 CONSTRAINT [PK_tblModule] PRIMARY KEY CLUSTERED 
(
	[module_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblRestaurantInformation]    Script Date: 3/3/2017 5:39:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblRestaurantInformation](
	[restaurant_id] [numeric](9, 0) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[short_name] [varchar](3) NULL,
	[reg_Number] [varchar](20) NULL,
	[initial_date] [datetime] NULL,
	[trec_number] [varchar](4) NULL,
 CONSTRAINT [PK__tblRestaurentInfo__CAE49DDDD2220766] PRIMARY KEY CLUSTERED 
(
	[restaurant_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblRestaurantModule]    Script Date: 3/3/2017 5:39:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblRestaurantModule](
	[restaurant_id] [numeric](9, 0) NOT NULL,
	[module_id] [int] NOT NULL,
 CONSTRAINT [PK_tblRestaurentModule] PRIMARY KEY CLUSTERED 
(
	[restaurant_id] ASC,
	[module_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblRestaurantUser]    Script Date: 3/3/2017 5:39:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblRestaurantUser](
	[restaurant_id] [numeric](9, 0) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[is_admin] [decimal](1, 0) NOT NULL,
	[is_loggedIn] [decimal](1, 0) NULL,
	[last_logged_time] [datetime] NULL,
	[approve_by] [varchar](128) NULL,
	[approve_date] [decimal](9, 0) NULL,
 CONSTRAINT [PK_tbllRestaurentUser] PRIMARY KEY CLUSTERED 
(
	[restaurant_id] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblRestaurantUserModule]    Script Date: 3/3/2017 5:39:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblRestaurantUserModule](
	[UserId] [nvarchar](128) NOT NULL,
	[restaurant_id] [numeric](9, 0) NOT NULL,
	[module_id] [int] NOT NULL,
 CONSTRAINT [PK_tblUserlRestaurentModule] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[restaurant_id] ASC,
	[module_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblRestaurantUserView]    Script Date: 3/3/2017 5:39:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblRestaurantUserView](
	[UserId] [nvarchar](128) NOT NULL,
	[restaurant_id] [numeric](9, 0) NOT NULL,
	[module_id] [int] NOT NULL,
	[veiw_id] [numeric](9, 0) NOT NULL,
 CONSTRAINT [PK_tblUserRestaurentView] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[restaurant_id] ASC,
	[module_id] ASC,
	[veiw_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblUserActionMapping]    Script Date: 3/3/2017 5:39:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUserActionMapping](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [nvarchar](128) NOT NULL,
	[action_id] [int] NOT NULL,
	[is_permitted] [int] NULL,
	[restaurant_id] [int] NULL,
 CONSTRAINT [PK_tblUserActionMapping] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblView]    Script Date: 3/3/2017 5:39:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblView](
	[view_id] [numeric](9, 0) IDENTITY(1,1) NOT NULL,
	[module_id] [numeric](9, 0) NOT NULL,
	[view_name] [varchar](150) NOT NULL,
	[router_name] [varchar](50) NULL,
	[action_name] [varchar](50) NULL,
	[area_name] [varchar](50) NULL,
 CONSTRAINT [PK_tblView] PRIMARY KEY CLUSTERED 
(
	[view_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [UserFullName]) VALUES (N'938282e8-c545-443d-aac5-9771c90aee9b', N'info@Restaurent.com', 0, N'AKcmz8kzL1ELVTszynFnLmBuzL4qfRWeYQQURFaeVyS+QyTy7/h1JiePnveAkgap4A==', N'726a930e-43a8-444e-aec6-73cbfdd688b9', N'01234567890', 0, 0, NULL, 0, 0, N'sa', NULL)
SET IDENTITY_INSERT [dbo].[tblAction] ON 

INSERT [dbo].[tblAction] ([id], [name], [url], [display_name], [ui_module_id], [is_view], [is_in_menu]) VALUES (1, N'Add User', N'#/AddUser', N'Add User', 1, 1, 1)
INSERT [dbo].[tblAction] ([id], [name], [url], [display_name], [ui_module_id], [is_view], [is_in_menu]) VALUES (2, N'Product', N'#/Product', N'Add Product', 2, 1, 1)
SET IDENTITY_INSERT [dbo].[tblAction] OFF
SET IDENTITY_INSERT [dbo].[tblModule] ON 

INSERT [dbo].[tblModule] ([module_id], [module_name]) VALUES (1, N'Settings')
INSERT [dbo].[tblModule] ([module_id], [module_name]) VALUES (2, N'Production')
SET IDENTITY_INSERT [dbo].[tblModule] OFF
INSERT [dbo].[tblRestaurantInformation] ([restaurant_id], [Name], [short_name], [reg_Number], [initial_date], [trec_number]) VALUES (CAST(1 AS Numeric(9, 0)), N'Bornomala Systems Ltd', N'BSL', NULL, NULL, N'1')
INSERT [dbo].[tblRestaurantUser] ([restaurant_id], [UserId], [is_admin], [is_loggedIn], [last_logged_time], [approve_by], [approve_date]) VALUES (CAST(1 AS Numeric(9, 0)), N'938282e8-c545-443d-aac5-9771c90aee9b', CAST(0 AS Decimal(1, 0)), CAST(1 AS Decimal(1, 0)), CAST(0x0000A72B012256DD AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[tblUserActionMapping] ON 

INSERT [dbo].[tblUserActionMapping] ([id], [user_id], [action_id], [is_permitted], [restaurant_id]) VALUES (1, N'938282e8-c545-443d-aac5-9771c90aee9b', 1, 1, 1)
INSERT [dbo].[tblUserActionMapping] ([id], [user_id], [action_id], [is_permitted], [restaurant_id]) VALUES (4, N'938282e8-c545-443d-aac5-9771c90aee9b', 2, 1, 1)
SET IDENTITY_INSERT [dbo].[tblUserActionMapping] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [RoleNameIndex]    Script Date: 3/3/2017 5:39:59 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 3/3/2017 5:39:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 3/3/2017 5:39:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_RoleId]    Script Date: 3/3/2017 5:39:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 3/3/2017 5:39:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UserNameIndex]    Script Date: 3/3/2017 5:39:59 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[tblAction]  WITH CHECK ADD  CONSTRAINT [FK_tblAction_tblModule] FOREIGN KEY([ui_module_id])
REFERENCES [dbo].[tblModule] ([module_id])
GO
ALTER TABLE [dbo].[tblAction] CHECK CONSTRAINT [FK_tblAction_tblModule]
GO
ALTER TABLE [dbo].[tblRestaurantModule]  WITH CHECK ADD  CONSTRAINT [FK_tbllRestaurentModule_tblModule] FOREIGN KEY([module_id])
REFERENCES [dbo].[tblModule] ([module_id])
GO
ALTER TABLE [dbo].[tblRestaurantModule] CHECK CONSTRAINT [FK_tbllRestaurentModule_tblModule]
GO
ALTER TABLE [dbo].[tblRestaurantModule]  WITH CHECK ADD  CONSTRAINT [FK_tbllRestaurentModule_tblRestaurentInformation] FOREIGN KEY([restaurant_id])
REFERENCES [dbo].[tblRestaurantInformation] ([restaurant_id])
GO
ALTER TABLE [dbo].[tblRestaurantModule] CHECK CONSTRAINT [FK_tbllRestaurentModule_tblRestaurentInformation]
GO
ALTER TABLE [dbo].[tblRestaurantUser]  WITH CHECK ADD  CONSTRAINT [FK_tbllRestaurentUser_AspNetUsers] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[tblRestaurantUser] CHECK CONSTRAINT [FK_tbllRestaurentUser_AspNetUsers]
GO
ALTER TABLE [dbo].[tblRestaurantUser]  WITH CHECK ADD  CONSTRAINT [FK_tbllRestaurentUser_tbllRestaurentInformation] FOREIGN KEY([restaurant_id])
REFERENCES [dbo].[tblRestaurantInformation] ([restaurant_id])
GO
ALTER TABLE [dbo].[tblRestaurantUser] CHECK CONSTRAINT [FK_tbllRestaurentUser_tbllRestaurentInformation]
GO
ALTER TABLE [dbo].[tblRestaurantUserModule]  WITH CHECK ADD  CONSTRAINT [FK_tblRestaurentUserModule_tblRestaurentModule] FOREIGN KEY([restaurant_id], [module_id])
REFERENCES [dbo].[tblRestaurantModule] ([restaurant_id], [module_id])
GO
ALTER TABLE [dbo].[tblRestaurantUserModule] CHECK CONSTRAINT [FK_tblRestaurentUserModule_tblRestaurentModule]
GO
ALTER TABLE [dbo].[tblRestaurantUserModule]  WITH CHECK ADD  CONSTRAINT [FK_tblRestaurentUserModule_tblRestaurentUser] FOREIGN KEY([restaurant_id], [UserId])
REFERENCES [dbo].[tblRestaurantUser] ([restaurant_id], [UserId])
GO
ALTER TABLE [dbo].[tblRestaurantUserModule] CHECK CONSTRAINT [FK_tblRestaurentUserModule_tblRestaurentUser]
GO
ALTER TABLE [dbo].[tblRestaurantUserView]  WITH CHECK ADD  CONSTRAINT [FK_tblRestaurentUserView_tblRestaurentUserModule] FOREIGN KEY([UserId], [restaurant_id], [module_id])
REFERENCES [dbo].[tblRestaurantUserModule] ([UserId], [restaurant_id], [module_id])
GO
ALTER TABLE [dbo].[tblRestaurantUserView] CHECK CONSTRAINT [FK_tblRestaurentUserView_tblRestaurentUserModule]
GO
ALTER TABLE [dbo].[tblRestaurantUserView]  WITH CHECK ADD  CONSTRAINT [FK_tblRestaurentUserView_tblView] FOREIGN KEY([veiw_id])
REFERENCES [dbo].[tblView] ([view_id])
GO
ALTER TABLE [dbo].[tblRestaurantUserView] CHECK CONSTRAINT [FK_tblRestaurentUserView_tblView]
GO
ALTER TABLE [dbo].[tblUserActionMapping]  WITH CHECK ADD  CONSTRAINT [FK_tblUserActionMapping_AspNetUsers] FOREIGN KEY([user_id])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[tblUserActionMapping] CHECK CONSTRAINT [FK_tblUserActionMapping_AspNetUsers]
GO
ALTER TABLE [dbo].[tblUserActionMapping]  WITH CHECK ADD  CONSTRAINT [FK_tblUserActionMapping_tblAction] FOREIGN KEY([action_id])
REFERENCES [dbo].[tblAction] ([id])
GO
ALTER TABLE [dbo].[tblUserActionMapping] CHECK CONSTRAINT [FK_tblUserActionMapping_tblAction]
GO
USE [master]
GO
