@{
    Layout = null;
}

<div ng-controller="phtoSProductTransferController" ng-init="ForLoginSuccess()">
    <div class="row-fluid">
        <div class="box bornomala span12">
            <div class="box-header">
                <h2>
                    <i class="halflings-icon tasks"></i><span class="break"></span>Product Transfer To SellPoint
                </h2>
            </div>
            <div class="box-content">

                <form class="form-horizontal" name="PHtoSPProductTransfer">
                    <div class="form-group">
                        <div class="control-group">
                            <label class="control-label">Select Sells Point</label>
                            <div class="controls" ng-init="GetSellsPointist()">
                                <select ng-model="ddlSellsPoint.SellsPointStoreId" class="form-control selectpicker" name="SellsPointStoreId"
                                        ng-options="x.SellsPointStoreId as x.SellsPointName for x in sellsPointList" required enter-as-tab>
                                    <option value="">--Select Sells Point--</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Select Production House</label>
                        <div class="controls" ng-init="GetProductionHouseList()">
                            <select ng-model="ddlProductionHouse.ProductionHouseId" class="form-control selectpicker" name="ProductionHouseId"
                                    ng-options="x.ProductionHouseId as x.ProductionHouseName for x in productionHouseList"
                                    ng-change="GetProductionHouseProductList(ddlProductionHouse.ProductionHouseId)" required enter-as-tab>
                                <option value="">--Select Production House--</option>
                            </select>
                        </div>
                    </div>


                    @*<div class="control-group">
                        <label class="control-label">Select Group</label>
                        <div class="controls" ng-init="getGroups()">
                            <select ng-model="GroupId" class="form-control selectpicker" name="GroupId"
                                    ng-options="x.GroupId as x.GroupName for x in groupList" required enter-as-tab>
                                <option value="">--Select Group--</option>
                            </select>
                        </div>
                    </div>*@

                    <div class="control-group">
                        <label class="control-label">Select Shift</label>
                        <div class="controls" ng-init="getShifts()">
                            <select ng-model="ShiftId" class="form-control selectpicker" name="ShiftId"
                                    ng-options="x.ShiftId as x.ShiftName for x in shiftList" required enter-as-tab>
                                <option value="">--Select Shift--</option>
                            </select>
                        </div>
                    </div>

                    @*<div class="control-group">
                        <label class="control-label" for="datepicker1">Date </label>
                        <div class="controls">
                            <div style="width: 200px;">
                                <datepicker date-format="yyyy-MM-dd" selector="form-control">
                                    <input class="form-control" ng-model="FromDate" placeholder="    Choose a date" readonly required enter-as-tab />
                                </datepicker>
                            </div>
                        </div>

                    </div>*@

                    <br />
                    <div @*style="height:350px; overflow:auto"*@ ng-init="getUnits();">
                        @*<p><strong>Available Product List</strong></p>*@
                        <table class="table table-striped table-bordered bootstrap-datatable datatable" st-table="rowCollection" st-safe-src="productionHouseProductList">
                            <thead>
                                <tr>
                                    <th colspan="5">
                                        Record Per pages:
                                        <select ng-model="itemsByPage" ng-options="item for item in itemsPerPage"></select>
                                        <div style="float: right;text-align: right;">  Search:<input st-search="" class="form-control" placeholder="global search ..." type="text" /></div>
                                    </th>
                                </tr>
                                <tr>
                                    <th>Select</th>
                                    <th>Product Name</th>
                                    <th>Transfer Quantity</th>
                                    <th>Available Quantity </th>
                                    <th>Unit</th>
                                </tr>
                            </thead>
                            <tbody>
                            @*<tr ng-repeat="ProductToStore in rowCollection track by $index" ng-init="rowIndex= $index">
                                <td>
                                    <input type="checkbox" ng-model="ProductToStore.IsSelected" ng-change="createProductList(ProductToStore,$index,$event)"/>
                                </td>
                                <td class="center">
                                    <input type="hidden" ng-model="ProductToStore.ProductId" required/>
                                    {{ProductToStore.ProductName}}
                                </td>
                                <td>
                                    <input type="text" class="form-control"
                                           ng-disabled="!ProductToStore.IsSelected"
                                           ng-required="ProductToStore.Qty"
                                           ng-model="ProductToStore.Qty[index = $index]"
                                           ng-init="ProductToStore.Qty=''"
                                           ng-change="checkValidation(ddlProductionHouse,ProductToStore,index,rowIndex)"
                                           numbersonly positive-numbers-only/>
                                    <input type="hidden" ng-model="ProductToStore.Quantity"/>
                                </td>
                                <td>
                                    {{ProductToStore.AvaliableQuatity}}
                                </td>
                                <td>
                                    {{ProductToStore.Unit}}

                                </td>

                            </tr>*@

                                <tr ng-repeat="ProductToStore in rowCollection">
                                    <td>
                                        <input type="checkbox" ng-model="ProductToStore.IsSelected" ng-change="createProductList(ProductToStore,rowIndex)" />
                                    </td>
                                    <td class="center">
                                        <input type="hidden" ng-model="ProductToStore.ProductId" required />
                                        {{ProductToStore.ProductName}}
                                    </td>
                                    <td>
                                        <input type="text" class="form-control"
                                               ng-disabled="!ProductToStore.IsSelected"
                                               ng-required="ProductToStore.Quantity"
                                               ng-model="ProductToStore.Quantity[rowIndex]"
                                               @*ng-init="ProductToStore.Qty=''"*@
                                               ng-change="checkValidation(ddlProductionHouse,ProductToStore,index,rowIndex,productIndex)"
                                               numbersonly positive-numbers-only />
                                        <input type="hidden" ng-model="ProductToStore.Qty" ng-init="ProductToStore.Qty=rowIndex" />
                                    </td>
                                    <td>
                                        {{ProductToStore.AvaliableQuatity}}
                                    </td>
                                    <td>
                                        {{ProductToStore.Unit}}

                                    </td>

                                </tr>


                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="5" class="text-center">
                                        <div class="pagination pagination-centered">
                                            <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="5"></div>
                                        </div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="form-group">
                        <div class="control-group">
                            <input type="submit" class="btn btn-primary" value="Transfer Product" data-ng-click="SaveProductToProductionHouse()" />
                        </div>
                    </div>
                    <toaster-container toaster-options="{'time-out': 1000}"></toaster-container>
                </form>
            </div>
        </div><!--/span-->
    </div>

</div><!--/row-->